﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }
        body{
            background-color: #F1F1F1;    
        }
    </style>
</head>
<body>
<div class="text-center">
    <h2>Мы собераемся на захватывающую вечеринку.</h2>
    <h3>И вы приглашены, нужно только заполнить форму</h3>
    <br/>
    
    <div class="btn btn-success">
        @Html.ActionLink("Форма RSVP","RsvpForm")
    </div>
</div>
</body>
</html>
